/* .container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 0px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 200px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;
    width: 100%;
    min-height: auto;
  }
}
 */

