.chatbot {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 1000;
} 
  
  .chatbotHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .chatWindow {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .question {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
  }
  
  .chatWindow input {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #6363639d; 
  box-sizing: border-box;
  color: black; 
  }

  .chatWindow button {
    padding: 10px 30px;
    background-color: #003350;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
  }

  .chatWindow button:hover {
    background-color: #005bb5;
  }

  .chatbotHeader button {
    padding: 5px 5px;
    background-color: #003350;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .chatbotHeader button:hover {
    background-color: #b50000;
  }
  