.integrantesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-left: 200px; 
  width: calc(100% - 200px); 
}

.integranteCard {
  color: #fff;
  background-color: #003350;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 200px;
  text-align: center;
}

.integranteCard:hover {
  background-color: #004c7f;
  transform: translateY(-8px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.integranteImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.socialIcon {
  color: #fff;
  text-decoration: none;
}

.socialIcon:hover {
  color: #000000; /* Para LinkedIn */
}

.socialIcon:nth-child(1):hover {
  color: #000000; /* Para GitHub */
}

